/* Place my own CSS here */
p {
  margin: 0px;
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
body {
  transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-style: preserve-3d;
  background-color: transparent;
}
.gwd-img-1p9b {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 611px;
  top: 75px;
  background-image: none;
  background-color: rgb(0, 0, 0);
}
.gwd-img-1pt6 {
  position: absolute;
  width: 180px;
  height: 30px;
  left: 611px;
  top: 37px;
}
.gwd-img-1t5g {
  position: absolute;
  width: 455px;
  height: 356px;
  left: 142px;
  top: 37px;
}
.gwd-img-nvdk {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 611px;
  top: 267px;
  background-image: none;
  background-color: rgb(0, 0, 0);
}
.gwd-img-1a1u {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 611px;
  top: 458px;
  background-image: none;
  background-color: rgb(0, 0, 0);
}
.gwd-img-iy1k {
  position: absolute;
  width: 180px;
  height: 30px;
  left: 611px;
  top: 648px;
}
.gwd-img-qfly {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 395px;
  left: 142px;
}
.gwd-img-1wlr {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 142px;
  top: 466px;
}
.gwd-img-qnxl {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 142px;
  top: 537px;
}
.gwd-img-87of {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 115px;
  left: 283px;
}
.gwd-img-1phg {
  position: absolute;
  width: 36px;
  height: 80px;
  left: 560px;
  top: 150px;
}
.gwd-img-1j8r {
  position: absolute;
  width: 36px;
  height: 80px;
  left: 142px;
  top: 150px;
}
.gwd-img-18sg {
  position: absolute;
  width: 11px;
  height: 17px;
  left: 582px;
  top: 180px;
}
.gwd-img-ngw1 {
  position: absolute;
  width: 10px;
  height: 17px;
  left: 147px;
  top: 181px;
}
.gwd-img-1cuh {
  position: absolute;
  width: 32px;
  height: 60px;
  top: 113px;
  left: 681px;
}
.gwd-img-h06t {
  position: absolute;
  width: 57px;
  height: 51px;
  top: 309px;
  left: 670px;
}
.gwd-img-n2te {
  position: absolute;
  width: 36px;
  height: 37px;
  top: 555px;
  left: 158px;
}
.gwd-img-x9iv {
  position: absolute;
  width: 54px;
  height: 55px;
  top: 504px;
  left: 671px;
}
.gwd-img-ndb1 {
  position: absolute;
  width: 34px;
  height: 32px;
  top: 484px;
  left: 160px;
}
.gwd-img-1vqc {
  position: absolute;
  width: 21px;
  height: 37px;
  top: 413px;
  left: 164px;
}
.gwd-img-1kwi {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 142px;
  top: 608px;
}
.gwd-img-u4k5 {
  position: absolute;
  width: 36px;
  height: 12px;
  top: 638px;
  left: 159px;
}
.gwd-img-fym3 {
  position: absolute;
  width: 22px;
  height: 15px;
  top: 41px;
  left: 684px;
}
.gwd-img-mn1r {
  position: absolute;
  width: 22px;
  height: 15px;
  top: 657px;
  left: 685px;
}
.gwd-img-181d {
  position: absolute;
  width: 13px;
  height: 11px;
  left: 765px;
  top: 85px;
}
.gwd-div-1xaa {
  position: absolute;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 22px;
  top: 177px;
  left: 648px;
}
.gwd-div-i859 {
  position: absolute;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 22px;
  top: 368px;
  left: 657px;
}
.gwd-div-ybff {
  position: absolute;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 22px;
  top: 570px;
  left: 666px;
}
.gwd-div-ahx3 {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 309px;
  top: 81px;
}
.gwd-div-11md {
  position: absolute;
  width: 0px;
  height: 18px;
  transform-origin: 5px 9px 0px;
  top: 276px;
  left: 302px;
}
.gwd-span-1qzp {
  color: rgb(255, 255, 255);
}
.gwd-span-1lc4 {
  font-size: 18px;
}
.gwd-div-cl3n {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 302px;
  left: 248px;
}
.gwd-div-16kp {
  position: absolute;
  top: 16px;
  width: 0px;
  height: 18px;
  transform-origin: 0px 0px 0px;
  left: 101px;
}
.gwd-div-1hzs {
  position: absolute;
  font-size: 18px;
  top: 0px;
  left: 142px;
}
.gwd-img-jm8e {
  position: absolute;
  width: 180px;
  height: 35px;
  left: 266px;
  top: 345px;
}
.gwd-img-vzo4 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 272px;
  top: 352px;
}
.gwd-img-1ml1 {
  position: absolute;
  width: 15px;
  height: 13px;
  left: 277px;
  top: 357px;
}
.gwd-div-1ixm {
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 17px;
  left: 312px;
  top: 355px;
}
.gwd-div-we8v {
  position: absolute;
  left: 195px;
  top: 37px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
}
.gwd-div-k4jh {
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 17px;
  left: 196px;
  top: 53px;
}
.gwd-img-1vv8 {
  position: absolute;
  width: 20px;
  height: 10px;
  top: 393px;
  left: 354px;
}
.gwd-img-rprr {
  position: absolute;
  width: 225px;
  height: 35px;
  left: 246px;
  top: 643px;
}
.gwd-img-1rsr {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 651px;
  left: 253px;
}
.gwd-img-epj4 {
  position: absolute;
  width: 15px;
  height: 13px;
  top: 655px;
  left: 258px;
}
.gwd-div-zwvb {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 655px;
  left: 294px;
}

.btn { 
  color: #ffffff; 
  background-color: #00FF00; 
  border-color: #130269; 
} 
 
.btn:hover, 
.btn:focus, 
.btn:active, 
.btn.active, 
.open .dropdown-toggle.btn { 
  color: #ffffff; 
  background-color: #FFFF00; 
  border-color: #130269; 
} 
 
.btn:active, 
.btn.active, 
.open .dropdown-toggle.btn { 
  background-image: none; 
} 
 
.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn, 
.btn.disabled:hover, 
.btn[disabled]:hover, 
fieldset[disabled] .btn:hover, 
.btn.disabled:focus, 
.btn[disabled]:focus, 
fieldset[disabled] .btn:focus, 
.btn.disabled:active, 
.btn[disabled]:active, 
fieldset[disabled] .btn:active, 
.btn.disabled.active, 
.btn[disabled].active, 
fieldset[disabled] .btn.active { 
  background-color: #00FF00; 
  border-color: #130269; 
} 
 
.btn .badge { 
  color: #00FF00; 
  background-color: #ffffff; 
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}